*{
    font-family: 'DM Serif Display', serif;
}

p {
    font-family: 'Signika Negative', sans-serif;
}



.hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    }
    
    .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(255, 255, 255, 0.732);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }
    
    
    .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    color:rgb(0, 0, 0);
    background-color:transparent;
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px;
    padding:20px 30px;
    font-family: 'Signika Negative', sans-serif;
    font-size: 30px;
    }
    
    .hovereffect a.info:hover {
    box-shadow:0 0 10px rgb(0, 0, 0);
    }
    
    .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }
    
    .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
    
    .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
   
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    .hovereffect:hover a.info {
    -webkit-transition-delay:.1s;
    transition-delay:.1s;
    }

    a:link { 
        text-decoration: none;
         }

